.dropdown-button {
  font-size: 16px;
  color: #3A3D3C;
  font-color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.model-button {
  font-size: 16px;
  outline: ridge;
  color: #3A3D3C;
  padding: -5px 0px;
  background-color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.search {
  font-size: 16px;
  color: #3A3D3C;
  font-color: white;
  padding: -5px 0px;
  background-color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: scroll;
  z-index: 4;
}

.reset {
  background-color: #3A3D3C;
  border: 2px solid  #3A3D3C;
}

.reset:hover {
  background-color: #FFFFFF;
  color: #3A3D3C;
  border: 2px solid  #3A3D3C;
}